@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url(../fonts/stylesheet.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/* Background gradients for status */
.form_row {
  position: relative;
  margin-bottom: 30px; }

.block_btn {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px; }

.block_btn_30 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px; }

.inline_block_btn {
  display: inline-block;
  height: 30px;
  line-height: 30px; }

.login_input {
  text-align: left;
  padding: 0 0 0 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  color: #8da1b0; }

.input_icon {
  color: #8da1b0;
  position: absolute;
  top: 15px;
  transform: translateY(-50%);
  left: 14px;
  color: #1b6db2;
  font-size: 22px; }

.light_blue_btn {
  background: #079fff;
  border: 1px solid #079fff;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .light_blue_btn:hover {
    background: #149ec4;
    border: 1px solid #149ec4;
    color: #ffffff;
    text-decoration: none; }

.light_green_btn {
  background: #2cc763;
  border: 1px solid #2cc763;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .light_green_btn:hover {
    background: #33E876;
    border: 1px solid #33E876;
    color: #ffffff;
    text-decoration: none; }

.light_gray_btn {
  background: #abbecc;
  border: 1px solid #abbecc;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .light_gray_btn:hover {
    background: #BBCFDD;
    border: 1px solid #BBCFDD;
    color: #ffffff;
    text-decoration: none; }

.modal_textarea {
  text-align: left;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 50px;
  color: #69717e;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  border: 1px solid #bed5e4; }

.s-hidden {
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  text-align: left; }

.styled_select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px 0 48px; }

.select > .icon-dropdown {
  position: absolute;
  top: 12px;
  right: 7px;
  color: #5390c3;
  font-size: 10px; }

.styled_select:active, .styled_select.active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 48px; }

.options {
  height: 300px;
  display: none;
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  z-index: 999;
  background-color: #ffffff;
  border: 1px solid #8da1b0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 0;
  padding: 0 0;
  list-style: none; }

.options .imitation_item {
  height: 36px;
  margin: 0 6px;
  padding: 0 10px 0 48px;
  background: #ffffff;
  border-bottom: 1px solid #8da1b0; }
  .options .imitation_item:last-child {
    border-bottom: none; }

.options .imitation_item:hover {
  background-color: #d4e1ea; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #2cc763; }

.options.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #2cc763; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #2cc763; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #2cc763; }

/* Styling radio button */
.vdf_radio {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }

.vdf_radio {
  float: right; }
  .vdf_radio .toggle_container {
    position: relative;
    background: #2cc763;
    border: 1px solid #2cc763;
    height: 22px;
    width: 47px;
    border-radius: 12px;
    font-size: 0; }
    .vdf_radio .toggle_container.disabled {
      background: #ffffff;
      border: 1px solid #D4E1EA; }
      .vdf_radio .toggle_container.disabled label .input-checked {
        border: 1px solid #D4E1EA; }
    .vdf_radio .toggle_container label {
      display: inline-block;
      vertical-align: middle;
      border-radius: 12px; }
      .vdf_radio .toggle_container label:last-child {
        margin-left: 4px; }
      .vdf_radio .toggle_container label input[type="radio"] {
        position: absolute;
        top: -99em;
        visibility: hidden; }
      .vdf_radio .toggle_container label.label_checked span {
        background-color: #ffffff;
        border: 1px solid #d4e1ea; }
      .vdf_radio .toggle_container label span {
        width: 20px;
        height: 20px;
        border-radius: 12px;
        display: block;
        cursor: pointer;
        border: 1px solid transparent; }

input[type="radio"].toggle + label {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer; }

.status_text {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  margin-top: 6px; }
  .status_text.active {
    color: #69717e;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .status_text.enable {
    color: #69717e;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .status_text.disable {
    color: #9FA9BA;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .status_text.pending {
    color: #dcb222;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.table_status_text {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 22px;
  line-height: 22px; }

/*input[type="radio"].toggle:checked + label, */
input[type="radio"].toggle.checked + label {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #dcdee2;
  cursor: default; }

/* end of Styling radio button */
/* Styling Checkbox */
.vdf_checkbox_text {
  display: inline-block;
  vertical-align: middle;
  color: #69717e;
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.vdf_checkbox {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.vdf_checkbox > input {
  visibility: hidden;
  position: absolute; }

/* CHECKBOX OVERWRITE STYLES */
.vdf_checkbox > i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  color: #69717e;
  transition: 0.2s;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #69717e; }

/* CHECKBOX */
.vdf_checkbox > input:checked + i {
  color: #2cc763;
  border: 1px solid #2cc763;
  background: #F3F3F3; }

/* end of Styling Checkbox */
.table_label {
  display: block;
  margin-bottom: 14px;
  color: #1b6db2;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  @media (max-width: 768px) {
    .table_label {
      margin-bottom: 10px; } }

/* Styling Select element */
.select_wrapper {
  background-color: #FFF;
  display: block;
  position: relative; }
  .select_wrapper select {
    background-color: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .select_wrapper select::-ms-expand {
      display: none; }

.select_wrapper:after {
  content: "❮";
  font-size: 12px;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 5;
  color: #1b6db2;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.file_container {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  overflow: hidden;
  position: relative;
  height: 30px;
  line-height: 27px;
  background: #1b6db2;
  color: #ffffff;
  border: 1px solid #079fff;
  padding: 2px 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 0 20px; }
  .file_container:hover {
    background: #079fff;
    color: #ffffff;
    text-decoration: none; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .file_container {
      padding: 0 10px; } }

.file_container input[type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  cursor: pointer; }

.modal_input {
  text-align: left;
  padding: 0 0 0 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  padding: 0 0 0 35px;
  color: #079fff;
  border: 1px solid #bed5e4; }

.modal_input_without_icon {
  text-align: left;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  color: #69717e;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  border: 1px solid #bed5e4; }

.download_file {
  display: inline-block;
  vertical-align: middle;
  background: #f99c19;
  text-align: center;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  background: none; }
  .download_file:hover i {
    background: #ffffff;
    text-decoration: none; }
  .download_file i {
    display: inline-block;
    background: #ffffff;
    border: 1px solid #f99c19;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    color: #f99c19;
    font-size: 20px; }
  .download_file i {
    font-size: 28px; }

@media (max-width: 640px) {
  .rwd-table .status_cell {
    overflow: hidden; } }
@media (min-width: 640px) and (max-width: 768px) {
  .rwd-table .status_cell .status_text {
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px; }
  .rwd-table .status_cell .vdf_radio {
    margin-left: 0px;
    margin-right: 5px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #eceef4;
  color: #8d97a6;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  height: auto;
  border: none; }

input, select, button, textarea {
  outline: none; }

select:focus {
  outline: none; }

a {
  cursor: pointer; }

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none; }

label.error {
  display: block;
  text-align: left;
  color: red;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  margin: 1px 2px 1px 7px; }

.relative {
  position: relative; }

input.error,
select.error,
textarea.error {
  border: 1px solid red !important; }

.success_response {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: #2cc763;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.error_response {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: red;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.6; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

a {
  text-decoration: none; }

.width100 {
  width: 100%; }

.width75 {
  width: 75%; }

.width50 {
  width: 50%; }

.w_160_status {
  width: 142px;
  min-width: 142px; }

.w110left {
  width: 110px;
  text-align: left; }

.w110 {
  width: 110px;
  text-align: center; }

.w90 {
  width: 90px;
  text-align: center; }

.w80 {
  width: 80px;
  text-align: center; }

.w65 {
  width: 65px;
  text-align: center; }

.w60 {
  width: 60px; }

.clear {
  clear: both; }

html, body {
  width: 100%;
  height: 100%; }

.login_page {
  background: url("../img/login_bg.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative; }
  .login_page .login_wrapper {
    width: 400px;
    height: 385px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .login_page .login_wrapper h2 {
      color: #ebfffe;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
      font-family: "proxima_nova_ltlight";
      margin-bottom: 50px;
      text-align: center; }
    .login_page .login_wrapper .login_form {
      background: #ffffff;
      padding: 30px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      text-align: center; }
      .login_page .login_wrapper .login_form.tall {
        height: 300px; }
      .login_page .login_wrapper .login_form.short {
        height: 270px; }
      .login_page .login_wrapper .login_form h3 {
        margin: 0 0 28px 0;
        color: #1b6db2;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
      .login_page .login_wrapper .login_form .short_bottom {
        margin-bottom: 23px; }
      .login_page .login_wrapper .login_form .login_hint {
        text-decoration: underline;
        color: #8da1b0;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
      @media screen and (max-width: 480px) {
        .login_page .login_wrapper .login_form {
          width: 100%; } }

/*# sourceMappingURL=login.css.map */
