@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url(../fonts/stylesheet.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/* Background gradients for status */
.form_row {
  position: relative;
  margin-bottom: 30px; }

.block_btn {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px; }

.block_btn_30 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px; }

.inline_block_btn {
  display: inline-block;
  height: 30px;
  line-height: 30px; }

.login_input {
  text-align: left;
  padding: 0 0 0 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  color: #8da1b0; }

.input_icon {
  color: #8da1b0;
  position: absolute;
  top: 15px;
  transform: translateY(-50%);
  left: 14px;
  color: #1b6db2;
  font-size: 22px; }

.light_blue_btn {
  background: #079fff;
  border: 1px solid #079fff;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .light_blue_btn:hover {
    background: #149ec4;
    border: 1px solid #149ec4;
    color: #ffffff;
    text-decoration: none; }

.light_green_btn {
  background: #2cc763;
  border: 1px solid #2cc763;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .light_green_btn:hover {
    background: #33E876;
    border: 1px solid #33E876;
    color: #ffffff;
    text-decoration: none; }

.light_gray_btn {
  background: #abbecc;
  border: 1px solid #abbecc;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .light_gray_btn:hover {
    background: #BBCFDD;
    border: 1px solid #BBCFDD;
    color: #ffffff;
    text-decoration: none; }

.modal_textarea {
  text-align: left;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 50px;
  color: #69717e;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  border: 1px solid #bed5e4; }

.s-hidden {
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  text-align: left; }

.styled_select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px 0 48px; }

.select > .icon-dropdown {
  position: absolute;
  top: 12px;
  right: 7px;
  color: #5390c3;
  font-size: 10px; }

.styled_select:active, .styled_select.active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 48px; }

.options {
  height: 300px;
  display: none;
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  z-index: 999;
  background-color: #ffffff;
  border: 1px solid #8da1b0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 0;
  padding: 0 0;
  list-style: none; }

.options .imitation_item {
  height: 36px;
  margin: 0 6px;
  padding: 0 10px 0 48px;
  background: #ffffff;
  border-bottom: 1px solid #8da1b0; }
  .options .imitation_item:last-child {
    border-bottom: none; }

.options .imitation_item:hover {
  background-color: #d4e1ea; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #2cc763; }

.options.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #2cc763; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #2cc763; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #2cc763; }

/* Styling radio button */
.vdf_radio {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }

.vdf_radio {
  float: right; }
  .vdf_radio .toggle_container {
    position: relative;
    background: #2cc763;
    border: 1px solid #2cc763;
    height: 22px;
    width: 47px;
    border-radius: 12px;
    font-size: 0; }
    .vdf_radio .toggle_container.disabled {
      background: #ffffff;
      border: 1px solid #D4E1EA; }
      .vdf_radio .toggle_container.disabled label .input-checked {
        border: 1px solid #D4E1EA; }
    .vdf_radio .toggle_container label {
      display: inline-block;
      vertical-align: middle;
      border-radius: 12px; }
      .vdf_radio .toggle_container label:last-child {
        margin-left: 4px; }
      .vdf_radio .toggle_container label input[type="radio"] {
        position: absolute;
        top: -99em;
        visibility: hidden; }
      .vdf_radio .toggle_container label .input-checked {
        background-color: #ffffff;
        border: 1px solid #ffffff; }
      .vdf_radio .toggle_container label span {
        width: 20px;
        height: 20px;
        border-radius: 12px;
        display: block;
        cursor: pointer;
        border: 1px solid transparent; }

input[type="radio"].toggle + label {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer; }

.status_text {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  margin-top: 6px; }
  .status_text.active {
    color: #69717e;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .status_text.enable {
    color: #69717e;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .status_text.disable {
    color: #9FA9BA;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .status_text.pending {
    color: #dcb222;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.table_status_text {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 22px;
  line-height: 22px; }

/*input[type="radio"].toggle:checked + label, */
input[type="radio"].toggle.checked + label {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #dcdee2;
  cursor: default; }

/* end of Styling radio button */
/* Styling Checkbox */
.vdf_checkbox_text {
  display: inline-block;
  vertical-align: middle;
  color: #69717e;
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.vdf_checkbox {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.vdf_checkbox > input {
  visibility: hidden;
  position: absolute; }

/* CHECKBOX OVERWRITE STYLES */
.vdf_checkbox > i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  color: #69717e;
  transition: 0.2s;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #69717e; }

/* CHECKBOX */
.vdf_checkbox > input:checked + i {
  color: #2cc763;
  border: 1px solid #2cc763;
  background: #F3F3F3; }

/* end of Styling Checkbox */
.table_label {
  display: block;
  margin-bottom: 14px;
  color: #1b6db2;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  @media (max-width: 768px) {
    .table_label {
      margin-bottom: 10px; } }

/* Styling Select element */
.select_wrapper {
  background-color: #FFF;
  display: block;
  position: relative; }
  .select_wrapper select {
    background-color: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .select_wrapper select::-ms-expand {
      display: none; }

.select_wrapper:after {
  content: "❮";
  font-size: 12px;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 5;
  color: #1b6db2;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.file_container {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  overflow: hidden;
  position: relative;
  height: 30px;
  line-height: 27px;
  background: #1b6db2;
  color: #ffffff;
  border: 1px solid #079fff;
  padding: 2px 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 0 20px; }
  .file_container:hover {
    background: #079fff;
    color: #ffffff;
    text-decoration: none; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .file_container {
      padding: 0 10px; } }

.file_container input[type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  cursor: pointer; }

.modal_input {
  text-align: left;
  padding: 0 0 0 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  padding: 0 0 0 35px;
  color: #079fff;
  border: 1px solid #bed5e4; }

.modal_input_without_icon {
  text-align: left;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5390c3;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  color: #69717e;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  border: 1px solid #bed5e4; }

.download_file {
  display: inline-block;
  vertical-align: middle;
  background: #f99c19;
  text-align: center;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  background: none; }
  .download_file:hover i {
    background: #ffffff;
    text-decoration: none; }
  .download_file i {
    display: inline-block;
    background: #ffffff;
    border: 1px solid #f99c19;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    color: #f99c19;
    font-size: 20px; }
  .download_file i {
    font-size: 28px; }

@media (max-width: 640px) {
  .rwd-table .status_cell {
    overflow: hidden; } }
@media (min-width: 640px) and (max-width: 768px) {
  .rwd-table .status_cell .status_text {
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px; }
  .rwd-table .status_cell .vdf_radio {
    margin-left: 0px;
    margin-right: 5px; } }
.fixed-table-container {
  border: none;
  border-radius: 0px; }
  .fixed-table-container thead th .both {
    background-image: url("../../img/both.png");
    background-repeat: no-repeat; }
  .fixed-table-container thead th .asc {
    background-image: url("../../img/asc.png");
    background-repeat: no-repeat; }
  .fixed-table-container thead th .desc {
    background-image: url("../../img/desc.png");
    background-repeat: no-repeat; }
  .fixed-table-container tbody tr:first-child td {
    border-top: 1px solid #ddd; }
  .fixed-table-container tbody td:first-child {
    border-left: 1px solid #ddd; }

.table {
  border: 1px solid #d4e1ea; }
  .table thead {
    background: #ebfffe; }
    .table thead th {
      color: #1b6db2;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
      line-height: 1; }
  .table tbody tr td {
    color: #69717e;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
    line-height: 1;
    vertical-align: middle; }
    .table tbody tr td.pending {
      color: #dcb222; }
    .table tbody tr td.waiting {
      color: #9a5ddf; }

.open_nested {
  display: inline-block;
  vertical-align: middle; }
  .open_nested .icon-dropdown {
    color: #1b6db2;
    font-size: 10px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .open_nested .icon-dropdown.expanded {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }

.user_management_table tbody tr.nested_row {
  border: none; }
.user_management_table tbody tr td {
  border-top: 1px solid red;
  border-left: 1px solid red; }
  .user_management_table tbody tr td.nested_cell {
    padding: 0; }
  .user_management_table tbody tr td .nested_div .table {
    border: none; }
    .user_management_table tbody tr td .nested_div .table .nested_inner_row {
      border: none; }
      .user_management_table tbody tr td .nested_div .table .nested_inner_row td:first-child {
        padding: 0 !important;
        border: none;
        text-align: center; }

.table_icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 4px;
  color: #69717e;
  border: 1px solid #69717e;
  cursor: pointer; }
  .table_icon.active {
    color: #2cc763;
    border: 1px solid #2cc763; }
  .table_icon.pending {
    color: #ffca14;
    border: 1px solid #ffca14; }
  .table_icon.waiting {
    color: #9a5ddf;
    border: 1px solid #9a5ddf; }

.table_id_cell {
  width: 60px; }

.table_action_cell {
  width: 90px;
  text-align: center;
  min-width: 90px;
  max-width: 90px; }

.table_action_cell_large {
  width: 140px;
  text-align: center;
  min-width: 140px;
  max-width: 140px; }

.table_status_cell {
  width: 142px;
  min-width: 142px; }

@media (min-width: 768px) and (max-width: 992px) {
  .table_id_cell {
    width: 40px;
    min-width: 40px;
    max-width: 40px; }

  .table_action_cell {
    width: 100px;
    text-align: center;
    min-width: 100px;
    max-width: 100px; }

  .table_action_cell_large {
    width: 70px;
    text-align: center;
    min-width: 70px;
    max-width: 70px; } }
@media (min-width: 768px) and (max-width: 992px) {
  .bootstrap-table .table:not(.table-condensed) > tbody tr > td {
    padding: 8px 5px; }

  .table_icon {
    width: 25px;
    height: 25px;
    line-height: 27px; } }
.rwd-table {
  margin: 1em 0;
  min-width: 300px; }

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.rwd-table th,
.my-table th {
  display: none; }

.rwd-table td,
.my-table td {
  display: block; }

.rwd-table td:before,
.my-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  display: inline-block;
  margin-right: 5px; }

@media (max-width: 768px) {
  .table tbody tr td {
    line-height: 1.42857;
    width: 100%; }

  .status_text {
    margin-top: 0; }

  .table_action_cell {
    width: auto;
    text-align: left;
    min-width: initial;
    max-width: initial; }

  .table_action_cell_large {
    width: auto;
    text-align: left;
    min-width: initial;
    max-width: initial; } }
@media (min-width: 768px) {
  .rwd-table td:before {
    display: none; }

  .my-table td:before {
    display: none; } }
@media (min-width: 768px) {
  .rwd-table th,
  .my-table th,
  .rwd-table td,
  .my-table td {
    display: table-cell; }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0; }

  .user_management_table > thead > tr > th:first-child,
  .user_management_table > tbody > tr > td:first-child {
    padding: 0 !important;
    border: none;
    text-align: center; }

  .user_management_table > thead > tr > th:nth-child(2),
  .user_management_table > tbody > tr > td:nth-child(2) {
    border-left: none; } }
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center; }

.pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
  color: #343a41;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.total_numbers_title {
  color: #69717e;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.distributors .align_first {
  text-align: right; }
.distributors .align_last {
  text-align: left; }
.distributors .distributor_item {
  display: inline-block;
  vertical-align: middle;
  height: 82px;
  line-height: 82px;
  width: 200px;
  border: 1px solid #d4e1ea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-size: 0;
  overflow: hidden; }
  .distributors .distributor_item .distributor_icon {
    display: inline-block;
    vertical-align: middle;
    width: 82px;
    background: #ebfffe;
    color: #079fff;
    text-align: center;
    font-size: 45px; }
  .distributors .distributor_item .distributor_item_options {
    display: inline-block;
    vertical-align: middle;
    width: 114px; }
    .distributors .distributor_item .distributor_item_options .number {
      display: block;
      margin: 0 auto;
      text-align: center;
      color: #343a41;
      line-height: 1;
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .distributors .distributor_item .distributor_item_options .role {
      display: block;
      margin: 0 auto;
      text-align: center;
      color: #343a41;
      line-height: 1;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.filter_option {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  height: 30px;
  line-height: 28px;
  padding: 0 10px 0 5px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .filter_option.last {
    margin-right: 0; }
  .filter_option.blue {
    background: #1b6db2;
    color: #ffffff;
    border: 1px solid #1b6db2; }
  .filter_option.light_blue {
    border: 1px solid #bed5e4; }

.filter_text {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  color: #1b6db2;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.search_management_option {
  float: right;
  text-align: right; }

.search_form_option {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 250px; }
  .search_form_option .search_input {
    padding: 2px 40px 2px 5px;
    color: #079fff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
    border: 1px solid #bed5e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .search_form_option .search_button {
    position: absolute;
    top: 1px;
    right: 1px;
    color: #079fff;
    font-size: 20px;
    height: 28px;
    width: 35px;
    background: #ffffff;
    border: none; }

.export_user {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  height: 30px;
  line-height: 25px;
  padding: 2px 10px;
  color: #69717e;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  border: 1px solid #079fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .export_user i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #079fff;
    font-size: 18px; }

.add_new_btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  height: 30px;
  line-height: 25px;
  padding: 2px 10px;
  color: #69717e;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  border: 1px solid #079fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .add_new_btn i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #079fff;
    font-size: 18px; }

.status {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }
  .status.active {
    background: #2cc763;
    background: -webkit-linear-gradient(#29e6a1, #32cd95);
    background: -o-linear-gradient(#29e6a1, #32cd95);
    background: -moz-linear-gradient(#29e6a1, #32cd95);
    background: linear-gradient(#29e6a1, #32cd95); }
  .status.inactive {
    background: #f99c19;
    background: -webkit-linear-gradient(#fec068, #f9a023);
    background: -o-linear-gradient(#fec068, #f9a023);
    background: -moz-linear-gradient(#fec068, #f9a023);
    background: linear-gradient(#fec068, #f9a023); }
  .status.available {
    background: #52bcff;
    background: -webkit-linear-gradient(#81ceff, #3eb4ff);
    background: -o-linear-gradient(#81ceff, #3eb4ff);
    background: -moz-linear-gradient(#81ceff, #3eb4ff);
    background: linear-gradient(#81ceff, #3eb4ff); }
  .status.disabled {
    background: #b3bac4;
    background: -webkit-linear-gradient(#c6d0e1, #adb0b5);
    background: -o-linear-gradient(#c6d0e1, #adb0b5);
    background: -moz-linear-gradient(#c6d0e1, #adb0b5);
    background: linear-gradient(#c6d0e1, #adb0b5); }
  .status.waiting {
    background: #bf98ef;
    background: -webkit-linear-gradient(#d9b9ff, #b48be7);
    background: -o-linear-gradient(#d9b9ff, #b48be7);
    background: -moz-linear-gradient(#d9b9ff, #b48be7);
    background: linear-gradient(#d9b9ff, #b48be7); }

.uploaded_files {
  font-size: 0; }

.wrap_package_list {
  position: relative;
  display: none;
  width: 100%;
  height: 95px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px; }
  .wrap_package_list .package_item a {
    display: block;
    height: 95px;
    text-align: center;
    border: 1px solid #ecf3f9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 0 2px; }
    .wrap_package_list .package_item a h4 {
      color: #2cc763;
      margin-top: 12px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .wrap_package_list .package_item a span {
      display: block;
      margin-bottom: 8px;
      line-height: 18px;
      color: #69717e;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .wrap_package_list .package_item a.selected_package {
      background: #2cc763;
      color: #ffffff; }
      .wrap_package_list .package_item a.selected_package h4 {
        color: #ffffff; }
      .wrap_package_list .package_item a.selected_package span {
        color: #ffffff; }
  .wrap_package_list .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -15px; }
    .wrap_package_list .owl-controls .owl-prev,
    .wrap_package_list .owl-controls .owl-next {
      border: 1px solid #ecf3f9;
      position: absolute;
      background: #ffffff;
      padding: 2px 0px; }
      .wrap_package_list .owl-controls .owl-prev:hover,
      .wrap_package_list .owl-controls .owl-next:hover {
        background: #2cc763; }
      .wrap_package_list .owl-controls .owl-prev:hover .prev.icon-dropdown, .wrap_package_list .owl-controls .owl-prev:hover .next.icon-dropdown,
      .wrap_package_list .owl-controls .owl-next:hover .prev.icon-dropdown,
      .wrap_package_list .owl-controls .owl-next:hover .next.icon-dropdown {
        color: #ffffff; }
    .wrap_package_list .owl-controls .owl-prev {
      left: 0; }
    .wrap_package_list .owl-controls .owl-next {
      right: 0; }
    .wrap_package_list .owl-controls .prev.icon-dropdown,
    .wrap_package_list .owl-controls .next.icon-dropdown {
      color: #2cc763;
      font-size: 26px;
      display: inline-block; }
    .wrap_package_list .owl-controls .prev.icon-dropdown {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .wrap_package_list .owl-controls .next.icon-dropdown {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.single_package {
  display: inline-block;
  vertical-align: middle;
  width: 145px;
  float: right; }
  .single_package a {
    display: block;
    text-align: center;
    border: 1px solid #ecf3f9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .single_package a h4 {
      color: #2cc763;
      margin-top: 15px;
      margin-bottom: 18px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .single_package a span {
      display: block;
      margin-bottom: 8px;
      line-height: 18px;
      color: #69717e;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .single_package a.selected_package {
      background: #2cc763;
      color: #ffffff; }
      .single_package a.selected_package h4 {
        color: #ffffff; }
      .single_package a.selected_package span {
        color: #ffffff; }

.print_image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 370px;
  max-height: 230px;
  outline: none; }

.uploaded_file_links {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .uploaded_file_links {
      margin-left: 10px;
      font-size: 14px; } }
  @media (max-width: 992px) {
    .uploaded_file_links {
      margin: 20px auto;
      display: block;
      text-align: center; } }

.keep_file_name {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  overflow: hidden;
  border: 1px solid #d4e1ea;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  @media (max-width: 1200px) {
    .keep_file_name {
      width: 160px; } }
  @media (max-width: 992px) {
    .keep_file_name {
      width: 70%; } }
  @media (max-width: 640px) {
    .keep_file_name {
      width: 60%; } }

@media (max-width: 1200px) {
  .filter_text {
    float: none;
    display: block;
    text-align: center; }

  .filter_option {
    display: inline-block;
    width: 22%;
    margin-left: 0;
    margin-right: 4%;
    margin-bottom: 15px; }
    .filter_option:last-child {
      margin-right: 0; }
    .filter_option.full {
      display: block;
      width: 100%; }

  .search_management_option {
    float: none;
    display: block;
    text-align: left;
    font-size: 0; }
    .search_management_option .search_form_option {
      width: 30%;
      margin-right: 5%; }
    .search_management_option .export_user {
      width: 30%;
      margin-right: 5%;
      margin-left: 0;
      text-align: center; }
    .search_management_option .add_new_btn {
      width: 30%;
      margin-right: 0;
      margin-left: 0;
      text-align: center; }

  .wrap_package_list {
    width: 100%; } }
@media (max-width: 992px) {
  .search_management_option {
    float: none;
    display: block;
    text-align: left;
    margin-top: 15px; }
    .search_management_option .search_form_option {
      display: block;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px; }
    .search_management_option .export_user {
      display: block;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px; }
    .search_management_option .add_new_btn {
      display: block;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px; }

  .filter_option {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
    .filter_option.full {
      width: 80%; }
    .filter_option.last {
      margin-left: auto;
      margin-right: auto; } }
@media (max-width: 768px) {
  .distributors {
    margin-bottom: 40px; }
    .distributors .align_first {
      text-align: center; }
    .distributors .align_last {
      text-align: center; }
    .distributors .distributor_item {
      margin-bottom: 15px;
      display: block;
      width: auto; }
      .distributors .distributor_item .distributor_item_options {
        width: calc(100% - 90px); } }
@media (max-width: 640px) {
  .wrap_package_list .package_item {
    margin: 0 auto; } }
@media (max-width: 480px) {
  .wrap_package_list .package_item {
    margin: 0 auto; } }
.vdf_modal {
  width: 1140px;
  padding: 0;
  margin-top: 20px; }
  .vdf_modal .vdf_modal_content {
    width: 1140px; }
  .vdf_modal .vdf_modal_header {
    padding: 15px 15px 0 15px;
    border-bottom: none; }
  .vdf_modal .vdf_modal_sub_header {
    height: 44px;
    line-height: 44px;
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    background: #ebfffe;
    border-top: 1px solid #d4e1ea;
    border-bottom: 1px solid #d4e1ea; }
    .vdf_modal .vdf_modal_sub_header data {
      float: right;
      color: #079fff;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .vdf_modal .vdf_modal_sub_header h3 {
      color: #1b6db2;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  .vdf_modal .vdf_modal_body {
    padding: 32px 25px 0 25px; }
  .vdf_modal .vdf_modal_footer {
    margin-top: 0;
    padding: 15px 25px 30px 25px; }
    .vdf_modal .vdf_modal_footer .inline_block_btn {
      display: inline-block;
      vertical-align: middle;
      height: 35px;
      line-height: 35px;
      margin-left: 30px;
      vertical-align: middle;
      padding: 0 40px;
      opacity: 1;
      float: none; }
  .vdf_modal .input_icon {
    font-size: 14px;
    left: 10px; }
  .vdf_modal .vdf_modal_left {
    position: relative;
    padding-top: 15px;
    border-right: 1px solid #d4e1ea; }
    .vdf_modal .vdf_modal_left .or {
      position: absolute;
      top: 50%;
      right: -15px;
      margin-top: -15px;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      text-align: center;
      background: #1b6db2;
      color: #ffffff; }
  .vdf_modal .vdf_modal_right {
    position: relative;
    padding-top: 15px; }
  .vdf_modal .ovh {
    overflow: hidden; }
  .vdf_modal .file_container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    @media (max-width: 992px) {
      .vdf_modal .file_container {
        width: 30%; } }
    @media (max-width: 640px) {
      .vdf_modal .file_container {
        width: 40%; } }

.departure {
  height: 30px;
  line-height: 30px;
  background: #079fff;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  margin-bottom: 15px; }

.flight_dates {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-right: 7px;
  font-size: 0; }
  .flight_dates .input-group-addon {
    display: inline-block;
    background: transparent;
    padding: 0;
    font-size: 14px;
    color: #1b6db2;
    border: 1px solid #d4e1ea;
    width: 15%;
    height: 30px;
    line-height: 31px; }
  .flight_dates .inline_block_btn {
    border: 1px solid #d4e1ea; }

.flight_time {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  margin-left: -4px; }
  .flight_time input[type="number"] {
    width: 43px;
    border: 1px solid #d4e1ea;
    padding-left: 2px; }
  .flight_time i {
    margin-right: 5px;
    vertical-align: middle;
    color: #1b6db2;
    font-size: 18px; }

.modal_calendar {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  color: #1b6db2;
  padding: 6px 12px;
  font-size: 14px; }

.landing_date,
.departure_date {
  vertical-align: middle;
  padding: 0 4px;
  width: 85%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  color: #69717e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.c_support {
  float: left;
  margin-top: 8px;
  color: #abbecc;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

@media (max-width: 1200px) {
  .vdf_modal {
    width: 90%; }
    .vdf_modal .vdf_modal_content {
      width: 90%;
      margin: 20px auto 0; } }
@media (max-width: 992px) {
  .vdf_modal {
    width: 85%; }
    .vdf_modal .vdf_modal_content {
      width: 85%; }
    .vdf_modal .vdf_modal_body {
      padding: 16px 12px 0 12px; }
    .vdf_modal .special_number {
      margin-bottom: 20px; }
    .vdf_modal .vdf_modal_left {
      position: relative;
      padding-top: 15px;
      border-right: none; }
      .vdf_modal .vdf_modal_left .or {
        display: none; }
    .vdf_modal .vdf_modal_footer {
      padding: 10px 12px 15px 12px; }
      .vdf_modal .vdf_modal_footer .inline_block_btn {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0 20px; } }
@media (max-width: 768px) {
  .vdf_modal {
    width: 90%; }
    .vdf_modal .vdf_modal_content {
      width: 95%; } }
@media (max-width: 640px) {
  .vdf_modal {
    width: 92%; }
    .vdf_modal .vdf_modal_content {
      width: 100%; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #eceef4;
  color: #8d97a6;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  height: auto;
  border: none; }

input, select, button, textarea {
  outline: none; }

select:focus {
  outline: none; }

a {
  cursor: pointer; }

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none; }

label.error {
  display: block;
  text-align: left;
  color: red;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  margin: 1px 2px 1px 7px; }

.relative {
  position: relative; }

input.error,
select.error,
textarea.error {
  border: 1px solid red !important; }

.success_response {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: #2cc763;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.error_response {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: red;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }

.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.6; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

a {
  text-decoration: none; }

.width100 {
  width: 100%; }

.width75 {
  width: 75%; }

.width50 {
  width: 50%; }

.w_160_status {
  width: 142px;
  min-width: 142px; }

.w110left {
  width: 110px;
  text-align: left; }

.w110 {
  width: 110px;
  text-align: center; }

.w90 {
  width: 90px;
  text-align: center; }

.w80 {
  width: 80px;
  text-align: center; }

.w65 {
  width: 65px;
  text-align: center; }

.w60 {
  width: 60px; }

.clear {
  clear: both; }

header {
  background: #079fff;
  height: 80px;
  line-height: 79px;
  margin-bottom: 50px;
  position: relative; }
  header .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 75px;
    width: 60px;
    height: 60px; }
    header .logo img {
      display: block;
      width: 100%; }
  header .main_nav {
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    line-height: 37px; }
    header .main_nav ul {
      overflow: hidden; }
      header .main_nav ul li {
        float: left; }
        header .main_nav ul li a {
          padding: 8px 10px;
          color: #ffffff;
          border: 1px solid transparent;
          text-transform: capitalize;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
          header .main_nav ul li a:hover {
            color: #ffffff;
            border: 1px solid #ffca14; }
  header .profile_nav {
    display: block;
    vertical-align: middle; }
    header .profile_nav .personal_info {
      text-align: right;
      display: block; }
      header .profile_nav .personal_info > li {
        display: inline-block;
        line-height: 76px; }
        header .profile_nav .personal_info > li.date_time data {
          display: inline-block;
          vertical-align: middle;
          margin-right: 60px;
          color: #ffffff;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
          header .profile_nav .personal_info > li.date_time data i {
            vertical-align: middle;
            font-size: 24px;
            color: #ffca14; }
        header .profile_nav .personal_info > li.profile {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
          padding-right: 15px;
          border-right: 1px solid #35affd;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
          header .profile_nav .personal_info > li.profile .profile_name {
            color: #ffffff;
            cursor: pointer; }
            header .profile_nav .personal_info > li.profile .profile_name i {
              font-size: 8px; }
          header .profile_nav .personal_info > li.profile .choose_user {
            left: -10px;
            min-width: 100px;
            z-index: 100; }
        header .profile_nav .personal_info > li.languages {
          position: relative;
          display: inline-block;
          border-right: 1px solid #35affd;
          padding-right: 15px; }
          header .profile_nav .personal_info > li.languages .current_language {
            display: inline-block;
            vertical-align: middle;
            color: #ffffff;
            cursor: pointer;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
            header .profile_nav .personal_info > li.languages .current_language i {
              color: #ffffff;
              font-size: 8px; }
          header .profile_nav .personal_info > li.languages .choose_language {
            left: -15px;
            min-width: 100px;
            z-index: 100; }
  header .header_dropdown {
    display: none;
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    border: 1px solid #adadad;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    header .header_dropdown:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 9px solid #c8cfd4;
      position: absolute;
      top: -9px;
      right: 50%;
      margin-right: -9px; }
    header .header_dropdown:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #ffffff;
      position: absolute;
      top: -8px;
      right: 50%;
      margin-right: -7px; }
    header .header_dropdown li {
      line-height: 1; }
      header .header_dropdown li:first-child a {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      header .header_dropdown li:last-child a {
        border-bottom: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
      header .header_dropdown li a {
        display: block;
        background: #ffffff;
        color: #1b6db2;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #adadad;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
  header .mobile_nav {
    display: none; }

@media (max-width: 992px) {
  header {
    border-bottom: 1px solid #ebfffe; }
    header .logo {
      margin-right: 0; }
    header .main_nav {
      display: none; }
    header .personal_info li.profile data {
      margin-right: 20px; }
    header .personal_info li.profile .profile {
      margin-right: 20px; }
    header .mobile_nav {
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      z-index: 55; }
      header .mobile_nav li {
        line-height: 1; }
        header .mobile_nav li a {
          display: block;
          background: #079fff;
          color: #ffffff;
          padding: 15px 8px;
          border-bottom: 1px solid #ebfffe;
          text-align: center;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
          header .mobile_nav li a:hover {
            background: #14B7FF; }
    header .mobile_nav_button {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      background: #ffffff;
      padding: 10px 8px;
      cursor: pointer;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      header .mobile_nav_button:hover {
        background: #d4e1ea; }
      header .mobile_nav_button span {
        display: block;
        height: 4px;
        width: 30px;
        background: #079fff;
        margin-bottom: 3px; }
        header .mobile_nav_button span:last-child {
          margin-bottom: 0; } }
@media (max-width: 768px) {
  header .personal_info > li {
    display: inline-block; }
    header .personal_info > li.date_time data {
      margin-right: 20px; } }
@media (max-width: 640px) {
  header .profile_nav .personal_info > li {
    display: inline-block; }
    header .profile_nav .personal_info > li.date_time data {
      display: none; } }
.layout_nav {
  display: block;
  width: 100%;
  height: 45px;
  background: #1b6db2;
  border: 1px solid #d4e1ea; }
  .layout_nav > ul > li {
    float: left;
    border-right: 1px solid #5390c3; }
    .layout_nav > ul > li > a {
      display: block;
      height: 43px;
      line-height: 40px;
      padding: 2px 15px;
      background: #1b6db2;
      color: #ffffff;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
      .layout_nav > ul > li > a i {
        font-size: 8px;
        margin-left: 5px; }
    .layout_nav > ul > li > a:hover {
      background: #ffffff;
      color: #1b6db2; }
  .layout_nav > ul > li.active {
    border-bottom: 1px solid #ffffff; }
    .layout_nav > ul > li.active a {
      background: #ffffff;
      color: #1b6db2; }
  .layout_nav > ul > li.show_settings {
    position: relative; }
    .layout_nav > ul > li.show_settings .setting_types {
      display: none;
      width: 150px;
      position: absolute;
      top: 46px;
      right: 0;
      z-index: 100;
      box-shadow: 1px 1px 8px #c8cfd4;
      border: 1px solid #d4e1ea;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .layout_nav > ul > li.show_settings .setting_types:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 9px solid #c8cfd4;
        position: absolute;
        top: -9px;
        right: 9px; }
      .layout_nav > ul > li.show_settings .setting_types:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ffffff;
        position: absolute;
        top: -8px;
        right: 11px; }
      .layout_nav > ul > li.show_settings .setting_types > li {
        display: block; }
        .layout_nav > ul > li.show_settings .setting_types > li:first-child a {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom: 1px solid #d4e1ea; }
        .layout_nav > ul > li.show_settings .setting_types > li:last-child a {
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px; }
        .layout_nav > ul > li.show_settings .setting_types > li a {
          display: block;
          height: 38px;
          line-height: 35px;
          padding: 2px 10px;
          background: #ffffff;
          color: #1b6db2;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
        .layout_nav > ul > li.show_settings .setting_types > li a:hover {
          background: #1b6db2;
          color: #ffffff; }

@media (max-width: 992px) {
  .layout_nav {
    height: auto; }
    .layout_nav > ul > li {
      float: none;
      border-right: none;
      border-bottom: 1px solid #5390c3; }
      .layout_nav > ul > li a {
        text-align: center; }
    .layout_nav > ul > li.show_settings .setting_types {
      width: 100%; }
      .layout_nav > ul > li.show_settings .setting_types:before, .layout_nav > ul > li.show_settings .setting_types:after {
        display: none; }
      .layout_nav > ul > li.show_settings .setting_types > li:first-child a {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px; }
      .layout_nav > ul > li.show_settings .setting_types > li:last-child a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; }
      .layout_nav > ul > li.show_settings .setting_types > li a:hover {
        background: #35affd; } }
.layout .content {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px; }
  .layout .content #dashboard {
    padding: 15px; }
    .layout .content #dashboard .distributors {
      text-align: center;
      margin-top: 45px;
      margin-bottom: 82px; }
    .layout .content #dashboard .dashboard_charts .total_numbers {
      height: 270px;
      text-align: center;
      border: 1px solid #d4e1ea;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      margin-bottom: 15px; }
    .layout .content #dashboard .dashboard_charts .phone_charts {
      display: inline-block;
      vertical-align: middle;
      width: 115px;
      text-align: center; }
      .layout .content #dashboard .dashboard_charts .phone_charts.middle {
        margin: 0 38px; }
      .layout .content #dashboard .dashboard_charts .phone_charts .phone_chart_status {
        display: inline-block;
        margin-top: 23px; }
    .layout .content #dashboard .dashboard_charts .average_numbers {
      height: 270px;
      text-align: center;
      border: 1px solid #d4e1ea;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
      .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average {
        position: relative; }
        .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .average_value {
          display: inline-block;
          vertical-align: top;
          text-align: center; }
          .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .average_value .value {
            display: block;
            text-align: center;
            color: #343a41;
            font-size: 25px;
            font-weight: 500;
            font-style: normal;
            font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
          .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .average_value .av_status {
            color: #8d97a6;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
        .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .phone_charts {
          margin: 0 10px; }
        .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .remainder_value {
          display: inline-block;
          vertical-align: top; }
          .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .remainder_value .value {
            display: block;
            text-align: center;
            color: #343a41;
            font-size: 25px;
            font-weight: 500;
            font-style: normal;
            font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
          .layout .content #dashboard .dashboard_charts .average_numbers .wrap_average .remainder_value .status {
            color: #8d97a6;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .layout .content #dashboard .dashboard_charts .total_numbers_title {
      margin-top: 22px;
      margin-bottom: 45px; }
  .layout .content #user_management .user_management_wrapper {
    padding: 15px; }
  .layout .content #number_management .filter_status .number_management_wrapper {
    padding: 15px; }
    .layout .content #number_management .filter_status .number_management_wrapper .filter_buttons {
      font-size: 0; }
      .layout .content #number_management .filter_status .number_management_wrapper .filter_buttons .search_management_option .export_user {
        text-align: left; }
      .layout .content #number_management .filter_status .number_management_wrapper .filter_buttons .search_management_option .add_new_user {
        text-align: left; }
  .layout .content #sim_management .filter_status .sim_management_wrapper {
    padding: 15px; }
    .layout .content #sim_management .filter_status .sim_management_wrapper .filter_buttons {
      font-size: 0; }
      @media (min-width: 1200px) {
        .layout .content #sim_management .filter_status .sim_management_wrapper .filter_buttons .search_management_option .search_form_option {
          width: 180px; } }
      @media (max-width: 768px) {
        .layout .content #sim_management .filter_status .sim_management_wrapper .filter_buttons .search_management_option .search_form_option {
          display: block;
          width: 80%;
          margin: 0 auto 15px; } }
      .layout .content #sim_management .filter_status .sim_management_wrapper .filter_buttons .search_management_option .export_user {
        text-align: left; }
      .layout .content #sim_management .filter_status .sim_management_wrapper .filter_buttons .search_management_option .add_new_user {
        text-align: left; }
  .layout .content #type_management .filter_status .type_management_wrapper {
    padding: 15px;
      padding-font-size: 16px;
      padding-font-weight: normal;
      padding-font-style: normal;
      padding-font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif; }
    .layout .content #type_management .filter_status .type_management_wrapper .filter_buttons {
      font-size: 0; }
      .layout .content #type_management .filter_status .type_management_wrapper .filter_buttons .search_management_option .export_user {
        text-align: left; }
      .layout .content #type_management .filter_status .type_management_wrapper .filter_buttons .search_management_option .add_new_user {
        text-align: left; }
.layout #orders_list {
  background: #ffffff; }
  .layout #orders_list .orders_list_wrapper {
    padding: 15px; }
    .layout #orders_list .orders_list_wrapper .filter_buttons {
      font-size: 0; }

@media (max-width: 1200px) {
  .layout #number_management .filter_status .filter_status_wrapper .filter_buttons {
    display: block; }
    .layout #number_management .filter_status .filter_status_wrapper .filter_buttons .filter_option {
      width: 22%;
      margin-right: 4%; }
      .layout #number_management .filter_status .filter_status_wrapper .filter_buttons .filter_option.last {
        margin-right: 0; } }
@media (max-width: 768px) {
  .layout #number_management .filter_status .filter_status_wrapper .filter_buttons {
    font-size: 0;
    display: block; } }
@media (max-width: 640px) {
  .layout #dashboard .dashboard_charts .total_numbers {
    height: auto; }
    .layout #dashboard .dashboard_charts .total_numbers .phone_charts {
      display: block;
      margin: 0 auto 15px;
      width: 115px; }
      .layout #dashboard .dashboard_charts .total_numbers .phone_charts.middle {
        margin: 0 auto 15px; }
      .layout #dashboard .dashboard_charts .total_numbers .phone_charts .phone_chart_status {
        margin-top: 15px; } }

/*# sourceMappingURL=style.css.map */
