@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('proxima_nova_bold-webfont.woff2') format('woff2'),
    url('proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('proxima_nova_light-webfont.woff2') format('woff2'),
    url('proxima_nova_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('proxima_nova_regular_italic-webfont.woff2') format('woff2'),
    url('proxima_nova_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proxima_nova_regular-webfont.woff2') format('woff2'),
    url('proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('proxima_nova_semibold-webfont.woff2') format('woff2'),
    url('proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?pqfyg1');
    src:  url('icomoon.eot?pqfyg1#iefix') format('embedded-opentype'),
    url('icomoon.ttf?pqfyg1') format('truetype'),
    url('icomoon.woff?pqfyg1') format('woff'),
    url('icomoon.svg?pqfyg1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?fk819q');
  src:  url('icomoon.eot?fk819q#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fk819q') format('truetype'),
    url('icomoon.woff?fk819q') format('woff'),
    url('icomoon.svg?fk819q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_number:before {
  content: "\e900";
}
.icon-add_sim:before {
  content: "\e901";
}
.icon-add_type:before {
  content: "\e902";
}
.icon-add_user:before {
  content: "\e903";
}
.icon-arrow_down:before {
  content: "\e904";
}
.icon-arrow_up:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-copy:before {
  content: "\e908";
}
.icon-delete:before {
  content: "\e909";
}
.icon-departure:before {
  content: "\e90a";
}
.icon-distributor:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-dropdown:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-edit2:after {
  content: "\e90e";
}
.icon-email:before {
  content: "\e90f";
}
.icon-export:before {
  content: "\e910";
}
.icon-landing:before {
  content: "\e911";
}
.icon-level:before {
  content: "\e912";
}
.icon-name:before {
  content: "\e913";
}
.icon-new_order:before {
  content: "\e914";
}
.icon-new_pricelist:before {
  content: "\e915";
}
.icon-package:before {
  content: "\e916";
}
.icon-parking_sim:before {
  content: "\e917";
}
.icon-password:before {
  content: "\e918";
}
.icon-phone_number:before {
  content: "\e919";
}
.icon-print:before {
  content: "\e91a";
}
.icon-provider:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-show:before {
  content: "\e91d";
}
.icon-sim:before {
  content: "\e91e";
}
.icon-special:before {
  content: "\e91f";
}
.icon-status:before {
  content: "\e920";
}
.icon-time:before {
  content: "\e921";
}
.icon-type:before {
  content: "\e922";
}
.icon-type_code:before {
  content: "\e923";
}
.icon-username:before {
  content: "\e924";
}


/*

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add_number:before {
    content: "\e900";
}
.icon-add_sim:before {
    content: "\e901";
}
.icon-add_type:before {
    content: "\e902";
}
.icon-add_user:before {
    content: "\e903";
}
.icon-arrow_down:before {
    content: "\e904";
}
.icon-arrow_up:before {
    content: "\e905";
}
.icon-calendar:before {
    content: "\e906";
}
.icon-close:before {
    content: "\e907";
}
.icon-delete:before {
    content: "\e908";
}
.icon-departure:before {
    content: "\e909";
}
.icon-distributor:before {
    content: "\e90a";
}
.icon-download:before {
    content: "\e90b";
}
.icon-dropdown:before {
    content: "\e90c";
}
.icon-edit:before {
    content: "\e90d";
}
.icon-edit2:after {
    content: "\e90d";
    display: inline-block;
    margin-left: 3px;
}
.icon-email:before {
    content: "\e90e";
}
.icon-export:before {
    content: "\e90f";
}
.icon-landing:before {
    content: "\e910";
}
.icon-level:before {
    content: "\e911";
}
.icon-name:before {
    content: "\e912";
}
.icon-new_order:before {
    content: "\e913";
}
.icon-package:before {
    content: "\e914";
}
.icon-parking_sim:before {
    content: "\e915";
}
.icon-password:before {
    content: "\e916";
}
.icon-phone_number:before {
    content: "\e917";
}
.icon-print:before {
    content: "\e918";
}
.icon-provider:before {
    content: "\e919";
}
.icon-search:before {
    content: "\e91a";
}
.icon-show:before {
    content: "\e91b";
}
.icon-sim:before {
    content: "\e91c";
}
.icon-special:before {
    content: "\e91d";
}
.icon-status:before {
    content: "\e91e";
}
.icon-time:before {
    content: "\e91f";
}
.icon-type:before {
    content: "\e920";
}
.icon-type_code:before {
    content: "\e921";
}
.icon-username:before {
    content: "\e922";
} 
*/

