
$font14 : 14px
$font15 : 15px
$font16 : 16px
$font20 : 20px

/* colors */
$white: #ffffff
$black: #000000
$light_blue: #079fff
$body_bg: #eceef4
$table_head: #ebfffe
$tab_border: #5390c3
$search_border: #bed5e4
$gray_border: #d4e1ea
$dark_blue: #1b6db2
$active_green: #2cc763
$active_yellow: #ffca14
$dark_yellow: #f99c19
$active_gray: #adadad
$login_gray: #8da1b0
$disabled: #b3bac4
$waiting: #bf98ef
$available: #52bcff
$pie_value: #343a41
$pie_track: #ecf0f1
$total_numbers_title: #69717e
$dark_gray: #8d97a6

