
header
  background: $light_blue
  height: 80px
  line-height: 79px
  margin-bottom: 50px
  position: relative
  .logo
    display: inline-block
    vertical-align: middle
    margin-right: 75px
    width: 95px
    height: 58px
    img
      display: block
      width: 100%

  .main_nav
    display: inline-block
    vertical-align: middle
    height: 37px
    line-height: 37px
    ul
      overflow: hidden
      li
        float: left
        a
          padding: 8px 10px
          color: $white
          border: 1px solid transparent
          text-transform: capitalize
          @include border_radius(5px)
          @include fonts_stack(15px)
          &:hover
            color: $white
            border: 1px solid $active_yellow

  .profile_nav
    display: block
    vertical-align: middle
    .personal_info
      text-align: right
      display: block
      > li
        display: inline-block
        line-height: 76px
        &.date_time
          data
            display: inline-block
            vertical-align: middle
            margin-right: 60px
            color: $white
            @include fonts_stack(15px)
            i
              vertical-align: middle
              margin: 0 6px
              font-size: 24px
              color: $active_yellow
        &.profile
          position: relative
          display: inline-block
          vertical-align: middle
          margin-right: 15px
          padding-right: 15px
          border-right: 1px solid $nav_border
          @include fonts_stack(15px)
          .profile_name
            color: $white
            cursor: pointer
            i
              font-size: 8px
          .choose_user
            left: -10px
            min-width: 100px
            z-index: 100
        &.languages
          position: relative
          display: inline-block
          border-right: 1px solid $nav_border
          padding-right: 15px
          .current_language
            display: inline-block
            vertical-align: middle
            color: $white
            cursor: pointer
            @include fonts_stack(15px)
            i
              color: $white
              font-size: 8px
          .choose_language
            left: -15px
            min-width: 100px
            z-index: 100

  .header_dropdown
    display: none
    position: absolute
    top: 75%
    left: 0
    right: 0
    border: 1px solid $active_gray
    @include border_radius(5px)
    &:before
      content: ''
      width: 0
      height: 0
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 9px solid #c8cfd4
      position: absolute
      top: -9px
      right: 50%
      margin-right: -9px
    &:after
      content: ''
      width: 0
      height: 0
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-bottom: 8px solid $white
      position: absolute
      top: -8px
      right: 50%
      margin-right: -7px
    li
      line-height: 1
      &:first-child
        a
          border-top-left-radius: 5px
          border-top-right-radius: 5px
      &:last-child
        a
          border-bottom: none
          border-bottom-left-radius: 5px
          border-bottom-right-radius: 5px

      a
        display: block
        background: $white
        color: $dark_blue
        text-align: center
        height: 30px
        line-height: 30px
        border-bottom: 1px solid $active_gray
        @include fonts_stack(15px)

  .mobile_nav
    display: none

@media (max-width: 992px)
  header
    border-bottom: 1px solid $table_head
    .logo
      margin-right: 0
    .main_nav
      display: none
    .personal_info
      li
        &.profile
          data
            margin-right: 20px
          .profile
            margin-right: 20px

    .mobile_nav
      position: absolute
      top: 80px
      left: 0
      right: 0
      z-index: 55
      li
        line-height: 1
        a
          display: block
          background: $light_blue
          color: $white
          padding: 15px 8px
          border-bottom: 1px solid $table_head
          text-align: center
          @include fonts_stack(15px)
          &:hover
            background: #14B7FF

    .mobile_nav_button
      display: inline-block
      vertical-align: middle
      margin-left: 15px
      background: $white
      padding: 10px 8px
      cursor: pointer
      @include border_radius(5px)
      &:hover
        background: $gray_border
      span
        display: block
        height: 4px
        width: 30px
        background: $light_blue
        margin-bottom: 3px
        &:last-child
          margin-bottom: 0

@media (max-width: 768px)
  header
    .personal_info
      > li
        display: inline-block
        &.date_time
          data
            margin-right: 20px

@media (max-width: 640px)

  header
    .profile_nav
      .personal_info
        > li
          display: inline-block
          &.date_time
            data
              display: none

@media (max-width: 480px)

