.form_row
  position: relative
  margin-bottom: 30px

.block_btn
  display: block
  width: 100%
  height: 35px
  line-height: 35px

.block_btn_30
  display: block
  width: 100%
  height: 30px
  line-height: 30px

.inline_block_btn
  display: inline-block
  height: 30px
  line-height: 30px

.login_input
  @include input_with_icon
  color: $login_gray

.input_icon
  color: $login_gray
  @include login_input_icon

.input_icon_small
  color: $login_gray
  @include login_input_icon
  font-size: 18px
  left: 8px

.light_blue_btn
  @include light_blue_btn(16px)

.light_green_btn
  @include light_green_btn(16px)

.light_gray_btn
  @include gray_btn(16px)

.modal_textarea
  @include input_without_icon
  display: block
  width: 100%
  height: 50px
  color: $total_numbers_title
  @include fonts_stack(15px)
  border: 1px solid $search_border

#response
  padding-top: 5px

// style select element

.s-hidden
  visibility: hidden
  padding-right: 10px

.select
  cursor: pointer
  display: inline-block
  position: relative
  @include fonts_stack(15px)
  text-align: left

.styled_select
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 0 10px 0 48px

.select > .icon-dropdown
  position: absolute
  top: 12px
  right: 7px
  color: $tab_border
  font-size: 10px

.styled_select:active, .styled_select.active
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px
  padding-left: 48px

.options
  height: 216px
  display: none
  position: absolute
  top: 100%
  right: -1px
  left: -1px
  z-index: 999
  background-color: $white
  border: 1px solid $login_gray
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  margin-top: -2px
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  margin: 0 0
  padding: 0 0
  list-style: none

.options .imitation_item
  height: 36px
  margin: 0 6px
  padding: 0 10px 0 48px
  background: $white
  border-bottom: 1px solid $login_gray
  &:last-child
    border-bottom: none

.options .imitation_item:hover
  background-color: $gray_border

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y
  background-color: $active_green

.options.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y
  background-color: $active_green

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
  background-color: $active_green

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
  background-color: $active_green

/* Styling radio button */
.vdf_radio
  display: inline-block
  vertical-align: middle
  margin-left: 5px
.vdf_radio
  .toggle_container
    position: relative
    background: $active_green
    border: 1px solid $active_green
    height: 22px
    width: 47px
    border-radius: 12px
    font-size: 0
    &.disabled
      background: $white
      border: 1px solid #D4E1EA
      label
        .input-checked
          border: 1px solid #D4E1EA
    label
      display: inline-block
      vertical-align: middle
      border-radius: 12px
      &:last-child
        margin-left: 4px
      input[type="radio"]
        position: absolute
        top: -99em
        visibility: hidden
      &.label_checked
        span
          background-color: $white
          border: 1px solid $gray_border
      span
        width: 20px
        height: 20px
        border-radius: 12px
        display: block
        cursor: pointer
        border: 1px solid transparent


input[type="radio"].toggle + label
  display: inline-block
  text-align: center
  width: 20px
  height: 20px
  border-radius: 12px
  background-color: transparent
  cursor: pointer

.status_text
  display: inline-block
  vertical-align: middle
  width: 75px
  margin-top: 6px
  &.active
    color: $total_numbers_title
    @include fonts-stack(14px)
  &.enable
    color: $total_numbers_title
    @include fonts-stack(14px)
  &.disable
    color: $disabled2
    @include fonts-stack(14px)
  &.pending
    color: $pending_yellow
    @include fonts-stack(14px)

.table_status_text
  display: inline-block
  vertical-align: middle
  width: 65px
  height: 22px
  line-height: 22px

/*input[type="radio"].toggle:checked + label,*/
input[type="radio"].toggle.checked + label
  background-color: $white
  border-radius: 12px
  border: 1px solid #dcdee2
  cursor: default

/* end of Styling radio button */

/* Styling Checkbox */
.vdf_checkbox_text
  display: inline-block
  vertical-align: middle
  color: $total_numbers_title
  margin-left: 10px
  @include fonts_stack(14px)

.vdf_checkbox
  display: inline-block
  vertical-align: middle
  cursor: pointer
  user-select: none
  -webkit-user-select: none
  -webkit-touch-callout: none

  > input /* HIDE ORG RADIO & CHECKBOX */
    visibility: hidden
    position: absolute

  /* CHECKBOX OVERWRITE STYLES */
  > i
    display: inline-block
    vertical-align: middle
    width: 30px
    height: 30px
    line-height: 29px
    text-align: center
    color: $total_numbers_title
    transition: 0.2s
    font-size: 18px
    @include border_radius(3px)
    border: 1px solid $total_numbers_title

  /* CHECKBOX */
  > input:checked + i /* (RADIO CHECKED) <i> STYLE */
    color: $active_green
    border: 1px solid $active_green
    background:  #F3F3F3
  &.disable
    opacity: 1

/* end of Styling Checkbox */

.table_label
  display: block
  margin-bottom: 14px
  color: $dark_blue
  @include fonts-stack(15px)


/* Styling Select element*/
.select_wrapper
  background-color: #FFF
  display: block
  position: relative
  select
    background-color: transparent
    @include border-radius(6px)
    position: relative
    cursor: pointer
    z-index: 10
    @include appearance_none
    &::-ms-expand
      display: none

.select_wrapper:after
  content: "\276e"
  font-size: 12px
  position: absolute
  top: 8px
  right: 10px
  z-index: 5
  color: $dark_blue
  -webkit-transform: rotate(-90deg)
  -moz-transform: rotate(-90deg)
  -o-transform: rotate(-90deg)
  -ms-transform: rotate(-90deg)
  transform: rotate(-90deg)

// style input type=file in modal
.file_container
  display: inline-block
  vertical-align: middle
  height: 30px
  @include white_button(15px)
  padding: 0 20px
  @media (min-width: 992px) and (max-width: 1200px)
    padding: 0 10px

.file_container
  input[type=file]
    cursor: inherit
    display: block
    font-size: 999px
    filter: alpha(opacity=0)
    min-height: 100%
    min-width: 100%
    opacity: 0
    position: absolute
    right: 0
    text-align: right
    top: 0
    cursor: pointer

.modal_input
  @include input_with_icon
  padding: 0 0 0 35px
  color: $light-blue
  border: 1px solid $search_border

.modal_input_without_icon
  @include input_without_icon
  color: $total_numbers_title
  @include fonts_stack(15px)
  border: 1px solid $search_border

.download_file
  display: inline-block
  vertical-align: middle
  @include orange_plus_x_small
  background: none
  i
    font-size: 28px

@media (max-width: 640px)
  .rwd-table
    .status_cell
      overflow: hidden

@media (min-width: 768px) and (max-width: 992px)

  .vdf_checkbox
    > i
      width: 25px
      height: 25px
      line-height: 24px

@media (min-width: 640px) and (max-width: 768px)
  .rwd-table
    .status_cell
      .status_text
        width: auto
        margin-top: 2px
        margin-bottom: 2px
        margin-right: 5px
      .vdf_radio
        margin-left: 0px
        margin-right: 5px

  .table_label
    margin-bottom: 10px