
.fixed-table-container
  border: none
  border-radius: 0px
  thead
    th
      text-align: center
      .sortable
        padding-right: 20px
      .both
        background-image: url('../../img/both.png')
        background-repeat: no-repeat
      .asc
        background-image: url('../../img/asc.png')
        background-repeat: no-repeat
      .desc
        background-image: url('../../img/desc.png')
        background-repeat: no-repeat
  tbody
    tr:first-child
      td
        border-top: 1px solid #ddd

    td:first-child
      border-left: 1px solid #ddd


.table
  border: 1px solid $gray_border
  margin-bottom: 0
  thead
    background: $table_head
    th
      color: $dark_blue
      @include fonts_stack(15px)
      line-height: 1
      border-left: 1px solid $th_arrow
      border-bottom: 1px solid $th_arrow
      .th_text
        display: inline-block
        vertical-align: middle
        width: calc(100% - 20px)
      .th_arrows
        display: inline-block
        vertical-align: middle
        width: 15px
        i
          display: block
          margin: 1px auto
          text-align: center
          color: $th_arrow
          font-size: 11px
          cursor: pointer
          &.active
            color: $light_blue
          &:hover
            color: $light_blue
  tbody
    tr
      td
        color: $total_numbers_title
        @include fonts_stack(14px)
        line-height: 1 !important
        vertical-align: middle
        border-top: 1px solid $th_arrow
        border-left: 1px solid $th_arrow
        &.pending
          color: $pending_yellow
        &.waiting
          color: $waiting2

.open_nested
  display: inline-block
  vertical-align: middle
  .icon-dropdown
    color: $dark_blue
    font-size: 10px
    display: inline-block
    @include transform(-90deg)
    &.expanded
      @include transform(0deg)

#wrap_tree_table
  margin: 40px 0 20px 0
  border-bottom: 1px solid #ddd

.user_management_table
  &.table
    margin-bottom: 0
  thead
    th
      text-align: center
  tbody
    > tr
      > td
        border-top: 1px solid #ddd
        border-left: 1px solid #ddd
        &.nested_cell
          padding: 0
          border-top: none
        .nested_div
          .table
            border: none
            .nested_inner_row
              border: none
              td:first-child
                padding: 0 !important
                border: none
                text-align: center

.ref_number
  position: relative
  cursor: pointer
  min-width: 130px

.show_data_content
  background: $dark_blue
  color: $white
  padding: 3px 7px
  position: absolute
  top: -13px
  right: 5px
  text-align: center
  border: 1px solid $light_gray
  @include border_radius(5px)
  @include fonts_stack(13px)
  &:before
    content: ''
    width: 0
    height: 0
    border-top: 7px solid $light_gray
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    position: absolute
    bottom: -7px
    right: 5px
  &:after
    content: ''
    width: 0
    height: 0
    border-top: 5px solid $dark_blue
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    position: absolute
    bottom: -4px
    right: 7px

.hint_text
  display: inline
  vertical-align: middle

.hint
  float: right
  width: 18px
  height: 18px
  line-height: 18px
  @include border_radius(10px)
  background: $dark_blue
  border: 1px solid $tab_border
  color: $white
  text-align: center
  font-size: 12px
  font-family: Arial, Helvetica, sans-serif

.table_icon
  display: inline-block
  vertical-align: middle
  text-align: center
  width: 30px
  height: 30px
  line-height: 32px
  font-size: 16px
  border-radius: 4px
  color: $total_numbers_title
  border: 1px solid $total_numbers_title
  cursor: pointer
  &.active
    color: $active_green
    border: 1px solid $active_green
  &.pending
    color: $active_yellow
    border: 1px solid $active_yellow
  &.waiting
    color: $waiting2
    border: 1px solid $waiting2

.remove_row
  display: inline-block
  vertical-align: middle
  background: red
  color: $white
  width: 25px
  height: 25px
  line-height: 30px
  text-align: center
  cursor: pointer
  @include border_radius(18px)
  font-size: 17px
  &.disable
    background: #939393
    opacity: 1

.table_id_cell
  width: 60px

.table_action_cell
  width: 90px
  text-align: center
  min-width: 90px
  max-width: 90px

.table_time_cell_large
  width: 136px
  text-align: center
  min-width: 136px
  max-width: 136px

.table_action_cell_large
  width: 136px
  text-align: center
  min-width: 136px
  max-width: 136px

.table_status_cell
  text-align: center

.align_order
  text-align: center

.updated_by
  display: block
.responsive_table
  margin: 1em 0
  min-width: 300px

.responsive_table tr
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd

.responsive_table th,
.my-table th,
.responsive_table td,
.my-table td
  display: table-cell

.responsive_table th:last-child,
.responsive_table td:last-child
  padding-right: 0

.user_management_table > thead > tr > th:first-child,
.user_management_table > tbody > tr > td:first-child
  text-align: center

.user_management_table > thead > tr.nested_row > th:first-child,
.user_management_table > tbody > tr.nested_row > td:first-child
  padding: 0 !important
  //border: none
  text-align: center

.user_management_table > thead > tr > th:nth-child(2),
.user_management_table > tbody > tr > td:nth-child(2)
  border-left: none

.responsive_table td:before
  display: none

.my-table td:before
  display: none

.wrap_orders_table
  overflow: scroll

#wrap_tree_table.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x
  background-color: $active_green

#wrap_tree_table.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
  background-color: $active_green

#wrap_tree_table.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
  background-color: $active_green

#wrap_tree_table.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
  background-color: $active_green

#wrap_tree_table.ps-container > .ps-scrollbar-x-rail
  background-color: $dark_gray
  display: block
  opacity: 0.5
  height: 12px

.section_table
  .bootstrap-table
    .fixed-table-toolbar
      .pull-left
        float: none !important

.section_table
  .bootstrap-table
    .fixed-table-toolbar
      position: static
      margin-top: 0
      margin-bottom: 0
      line-height: 0

.section_table
  .bootstrap-table
    .fixed-table-toolbar
      .bs_bar
        position: static
        margin-top: 0
        margin-bottom: 0
        line-height: 0

.fixed-table-loading
  top: 58px !important
  padding-top: 10px

.lists_users_table
  height: 279px
  table
    thead
      th
        text-align: left
        padding-left: 15px
    tbody
      tr
        td
          height: 45px
          line-height: 45px
          color: $total_numbers_title
          padding-left: 15px
  .mCSB_scrollTools
    .mCSB_dragger
      .mCSB_dragger_bar
        background-color: $dark_blue
        margin: 5px auto
  .mCSB_inside > .mCSB_container
    margin-right: 18px

.lists_price_lists_table
  table
    thead
      th
        text-align: left
        padding-left: 15px
    tbody
      tr
        td
          height: 45px
          line-height: 45px
          color: $total_numbers_title
          @include fonts_stack(15px)


.daily_sell_price
  width: 40px
  max-width: 40px

@media (min-width: 768px) and (max-width: 992px)

  .table_id_cell
    width: 40px
    min-width: 40px
    max-width: 40px

  .table_action_cell
    width: 70px
    text-align: center
    min-width: 70px
    max-width: 70px

  .table_time_cell_large
    width: 130px
    text-align: center
    min-width: 130px
    max-width: 130px

  .bootstrap-table
    .table:not(.table-condensed)
      > tbody
        >
        tr
          >td
            padding: 8px 5px

  .table_icon
    width: 25px
    height: 25px
    line-height: 27px

  .wrap_orders_table
    overflow: scroll
    padding-bottom: 12px

@media (max-width: 768px)
  .table
    tbody
      tr
        td
          line-height: 1.428571429
          width: 100%

  #wrap_tree_table
    position: relative
    width: 100%
    overflow: auto
  .wrap_orders_table
    .bootstrap-table
      width: auto
      padding-bottom: 45px
  .user_management_table
    tbody
      tr
        td
          line-height: 1
          width: auto

  .status_text
    margin-top: 0

  .align_order
    text-align: left

  .table_action_cell
    width: auto
    text-align: left
    min-width: initial
    max-width: initial

  .table_time_cell_large
    width: auto
    text-align: left
    min-width: initial
    max-width: initial

  .table_status_cell
    text-align: left

  .responsive_table th,
  .my-table th
    display: none

  .responsive_table td,
  .my-table td
    display: block

  .responsive_table td:before,
  .my-table td:before
    content: attr(data-th) ": "
    font-weight: bold
    display: inline-block
    margin-right: 5px

  .table_action_cell_large
    text-align: left
    width: auto
    min-width: none
    max-width: none

  .hint
    float: none
    display: inline-block
    vertical-align: middle
    margin-left: 10px
  .show_data_content
    position: static
    float: right
    &:before
      display: none
    &:after
      display: none










